tqdm==4.62.3
tensorflow-gpu==2.3.0
scikit-image==0.17.2
ffmpeg-python==0.2.0
opencv-contrib-python-headless==4.1.2.30
numexpr==2.7.3
colorama==0.4.4
PyQt5==5.15.4
Pillow==8.4.0
h5py
scipy
numpy
tf2onnx